/* font */
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap");

@font-face {
  font-family: "S-CoreDream-2ExtraLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-4Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
ol {
  list-style: none;
}

html {
  font-size: 16px;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "S-CoreDream-4Regular";
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  color: #ecf0f1;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 30% repeat(2, 1fr) 5%;
}

.main-container {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-container {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "S-CoreDream-2ExtraLight";
}

footer {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoLists {
  display: flex;
  width: 100%;
}

.btn {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 8.75rem;
  margin: 10px;
  transition: color 0.5s ease-in-out;
  /* font-family: "S-CoreDream-5Medium"; */
  font-weight: bolder;
}

h4 {
  font-size: 2.75rem;
  margin: 1.25rem 0;
}

.loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* header */

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather {
  padding: 1.75rem;

  text-shadow: 1px 1px 1px #636e72;
  animation: faidIn 0.5s;
  display: flex;
  align-items: center;
}
.weatherIcon {
  width: 60px;
  height: 60px;
}
.weatherInfo {
  padding-left: 0.75rem;
}
.weatherInfo span {
  display: block;
}

.logout {
  padding: 1.75rem;
  background: transparent;

  font-size: 1.25rem;
  cursor: pointer;
}

.logoutOver {
  cursor: pointer;
  color: #95a5a6;
  transition: color 0.5s ease-in-out;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.clicked {
  color: #7f8c8d;
}

.form > input {
  background-color: transparent;
  color: #ecf0f1;
  font-size: 2.75rem;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 4px solid #ecf0f1;
  margin: 1.25rem 0;
}

.form > input::placeholder,
.toDoForm > input::placeholder {
  color: #ecf0f1;
}

.todoTitle {
  padding: 0.25rem;
  font-size: 1.5rem;
  text-align: center;
}

.toDoForm > input {
  background-color: transparent;
  font-size: 2.5rem;
  text-align: center;
  color: #ecf0f1;
  outline: none;
  border: none;
  border-bottom: 4px solid #ecf0f1;
  margin: 15px;
}

.todoToday {
  background-color: transparent;
  font-size: 2.5rem;
  text-align: center;
  color: #ecf0f1;
  margin: 15px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.hide {
  display: none;
}
