/* font */
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap");

@font-face {
  font-family: "S-CoreDream-2ExtraLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-4Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
ol {
  list-style: none;
}

html {
  font-size: 16px;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "S-CoreDream-4Regular";
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  color: #ecf0f1;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 30% repeat(2, 1fr) 5%;
}

.main-container {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-container {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "S-CoreDream-2ExtraLight";
}

footer {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoLists {
  display: flex;
  width: 100%;
}

.btn {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 8.75rem;
  margin: 10px;
  transition: color 0.5s ease-in-out;
  font-weight: bolder;
}

h4 {
  font-size: 2.75rem;
  margin: 1.25rem 0;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background-color: #444;
  transform: translate3d(0, 0, 0);
  transition: transform 1s ease-in-out;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#813b97),
    to(#463c96)
  );
  background: linear-gradient(#813b97, #463c96);
}
.loader.complete {
  transform: translate3d(0, -102%, 0);
}

/* header */

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather {
  padding: 1.75rem;

  text-shadow: 1px 1px 1px #636e72;
  animation: faidIn 0.5s;
  display: flex;
  align-items: center;
}
.weatherIcon {
  width: 60px;
  height: 60px;
}
.weatherInfo {
  padding-left: 0.75rem;
}
.weatherInfo span {
  display: block;
}
.weatherInfo span:nth-child(1) {
  margin-bottom: 0.75rem;
}

.logout {
  padding: 1.75rem;
  background: transparent;

  font-size: 1.25rem;
  cursor: pointer;
}

.logoutOver {
  cursor: pointer;
  color: #95a5a6;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: #7f8c8d;
}

.form > input {
  background-color: transparent;
  color: #ecf0f1;
  font-size: 2.75rem;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 4px solid #ecf0f1;
  margin: 1.25rem 0;
}

.form > input::placeholder,
.toDoForm > input::placeholder {
  color: #ecf0f1;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.todoTitle {
  padding: 0.25rem;
  font-size: 1.5rem;
  text-align: center;
}

.toDoForm > input {
  background-color: transparent;
  font-size: 2.5rem;
  text-align: center;
  color: #ecf0f1;
  outline: none;
  border: none;
  border-bottom: 4px solid #ecf0f1;
  margin: 15px;
}

.todoToday {
  background-color: transparent;
  font-size: 2.5rem;
  text-align: center;
  color: #ecf0f1;
  margin: 15px;
  cursor: pointer;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.hide {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 999px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 7px;
  }
}

/* loader animation */

@-webkit-keyframes progress1 {
  0% {
    transform: scalex(0);
    opacity: 0.5;
  }
  90% {
    transform: scalex(1);
    opacity: 1;
  }
  92% {
    transform: scalex(1);
    opacity: 1;
  }
  100% {
    transform: scalex(1);
    opacity: 0;
  }
}

@keyframes progress1 {
  0% {
    transform: scalex(0);
    opacity: 0.5;
  }
  90% {
    transform: scalex(1);
    opacity: 1;
  }
  92% {
    transform: scalex(1);
    opacity: 1;
  }
  100% {
    transform: scalex(1);
    opacity: 0;
  }
}
@-webkit-keyframes progress2 {
  0% {
    transform: scale(0.3, 0.8) translatez(0);
    opacity: 0;
  }
  90% {
    transform: scale(1, 1) translatex(300px) translatez(0);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1) translatex(300px) translatez(0);
    opacity: 0;
  }
}
@keyframes progress2 {
  0% {
    transform: scale(0.3, 0.8) translatez(0);
    opacity: 0;
  }
  90% {
    transform: scale(1, 1) translatex(300px) translatez(0);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1) translatex(300px) translatez(0);
    opacity: 0;
  }
}
.line {
  position: absolute;
  top: 50%;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  height: 3px;
  background: rgba(255, 255, 255, 0.1);
}
.line:before {
  animation: progress1 4s infinite;
  transform-origin: 0 0;
  content: "";
  display: block;
  width: 300px;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(10%, rgba(255, 255, 255, 0.1)),
    color-stop(80%, rgba(255, 255, 255, 0.4)),
    to(white)
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.4) 80%,
    white
  );
}
.line:after {
  content: "";
  position: absolute;
  animation: progress2 4s infinite;
  transform-origin: 90% 50%;
  margin-left: -24px;
  top: -9px;
  width: 30px;
  height: 21px;
  border-radius: 2px;
  background: rgba(210, 189, 255, 0.55);
  filter: blur(8px);
  box-shadow: 0 0 10px 6px rgba(210, 189, 255, 0.4),
    -20px 0 15px 4px rgba(210, 189, 255, 0.3),
    -40px 0 15px 2px rgba(210, 189, 255, 0.2),
    -60px 0 10px 1px rgba(210, 189, 255, 0.1),
    -80px 0 10px 1px rgba(210, 189, 255, 0.05);
}
